.pagename{
    
    text-align: center;
    font-size: 5rem;
    margin-top: 20px;
    font-weight: bold;
    padding :100px 0px 0px 0px;
    font-family: Playfair Display ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    

}
.pagename span {
    color: #f7f7f7;
    font-weight: bold;
}
.pagename:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.page-description {
    text-align: left;
    font-size: 1.5rem;
    color: #f8f5f5;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}